@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>
        Hello, user!
        <img src="~/images/train.png" style=" margin-left:20px; width:100px" alt="icon-train" />
    </h1>
    <h2>
        We happy see you in our ModernRailwayCompany!
    </h2>
     
</div>

<div class="row">
    <center>
        <img src="~/images/railwayCompany.png" alt="railway" />
    </center>
</div>